{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "CloudFront",
      "Effect": "Allow",
      "Principal": {
        "Service": "cloudfront.amazonaws.com"
      },
      "Action": "s3:GetObject",
      "Resource": "arn:aws:s3:::${project}fe-${environment}/*",
      "Condition": {
        "StringEquals": {
          "aws:SourceArn": [
            "${cloudfront_arn}"
          ]
        }
      }
    }
  ]
}